version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: db_postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  web:
    build: .
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:

      POSTGRES_DB: db_postgres
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432

volumes:
  postgres_data: